<script src="{{ '/assets/lib/lunr.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lunr-store.js' | relative_url }}"></script>
<script>
/* initialize lunr */
var idx = lunr(function () {
  this.ref('id')
  this.field('title')
  this.field('text')

  //this.pipeline.remove(lunr.trimmer)

  for (var item in store) {
    this.add({
      title: store[item].title,
      text: store[item].text,
      id: item
    })
  }
});

/* search function */
function lunr_search () {
  var query = searchbox.value;//.toLowerCase();
  /* basic search that supports operators */
  var result = idx.search(query); 
  /* more fuzzy search, but doesn't support operators:
  var result =
    idx.query(function (q) {
      query.split(lunr.tokenizer.separator).forEach(function (term) {
        q.term(term, { boost: 100 })
        if(query.lastIndexOf(" ") != query.length-1){
          q.term(term, {  usePipeline: false, wildcard: lunr.Query.wildcard.TRAILING, boost: 10 })
        }
        if (term != ""){
          q.term(term, {  usePipeline: false, editDistance: 1, boost: 1 })
        }
      })
    });*/
  var resultslist = "<tr><td><p>" + result.length + " Results(s) found</p></td></tr>";
  //resultsdiv.prepend('<p class="">' + result.length + ' Result(s) found</p>');
  for (var item in result) {
    var ref = result[item].ref;
    var searchitem =
      '<tr>'+
          '<td class="">' +
            '<p class="h4"><a href="' + store[ref].url + '">' + store[ref].title+ '</a></p>' +
            '<p class="ms-3">' +
            store[ref].text.split(" ").splice(0,20).join(" ") + '...<br>' +
            '</p></td>' +
      '</tr>';
    resultslist += searchitem;
  }
  resultsdiv.innerHTML = resultslist;
}
/* set elements */
var resultsdiv = document.getElementById('lunrResults');
var searchbox = document.getElementById('lunrSearchBox');
/* get query string */
document.addEventListener('DOMContentLoaded', function(event) {
  if (window.location.search) {
    var queryString = decodeURIComponent(window.location.search.substring(1).split("=")[1]);
    searchbox.value = queryString;
    lunr_search ();
  }
});

</script>