<script src="{{ '/assets/lib/list.min.js' | relative_url }}"></script>
<script>
    /* Fisher-Yates shuffle https://bost.ocks.org/mike/shuffle/ */
    function shuffle(array) {
        var m = array.length, t, i;
        while (m) {
            i = Math.floor(Math.random() * m--);
            t = array[m];
            array[m] = array[i];
            array[i] = t;
        }
        return array;
    }
    // add items
    var listDocs = [
        {% assign listDocs = site.data.research %}
        {% for i in listDocs %}
        { 
            listLink: "{{ i.url | relative_url }}", 
            listTitle: {{ i.title | jsonify }}, 
            listType: "{{ i.type }}", 
            listAuthors: {{ i.authors | jsonify }},
            listPublication: {{ i.publication | jsonify }},
            listDate: {{ i.date | jsonify }} 
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
    // shuffle items
    shuffle(listDocs);

    // setup list.js options and item template
    var listOptions = {
        valueNames: [ 
            'listTitle',
            'listType',
            'listAuthors',
            'listPublication',
            'listDate'
        ],
        item: function(values) {
            //type,authors,title,publication,date,url
            var borderColor = "";
            switch (values.listType) {
                case "Article":
                    borderColor = "border-success";
                    break;
                case "Presentation":
                    borderColor = "border-primary";
                    break;
                default:
                    borderColor = "";
            }
            var card = `<div class="col">
                <div class="card mb-3 ${borderColor}">
                    <div class="card-body">
                        <h3 class="card-title">${values.listAuthors}, <a class="listTitle" href="${values.listLink}" target="_blank" rel="noopener">${values.listTitle}</a>, ${values.listPublication}, ${values.listDate}</h3>
                        <p class="card-text"><strong class="listType">${values.listType}</strong></p>
                    </div>
                </div>
            </div>`;
            return card;
        }

    };
    // init list.js
    var documentList = new List('documentList', listOptions, listDocs);

    // add random shuffle
    function shuffleList() {
        shuffle(listDocs);
        documentList.filter();
        documentList.clear();
        documentList.add(listDocs);
        filterByType();
    }
    var shuffleListBtn = document.getElementById("list_shuffle");
    shuffleListBtn.addEventListener("click", shuffleList);

    /* get query string */
    document.addEventListener('DOMContentLoaded', function(event) {
        var queryString = new URLSearchParams(window.location.search);
        // ?sort=
        if (queryString.has("sort") && document.getElementById(queryString.get("sort"))) { 
            document.getElementById(queryString.get("sort")).click();
        }
        // ?search=
        if (queryString.has("search")) { 
            var searchOption = queryString.get("search");
            document.getElementById("listSearch").value = searchOption;
            documentList.search(searchOption);
        }

    });

</script>