{% unless page.url == '/' %}
<footer class="mt-auto border-top bg-light">
    <div class="container mt-5">
        <p>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/' | relative_url }}"><img class="img-fluid" src="{{ '/assets/img/lib-static-text-jm.svg' | relative_url }}" alt="{ lib-static }"></a>
                </li>
                {% assign nav_pages = site.html_pages | where_exp: 'p','p.nav' | sort: 'nav_order' %}
                {% for p in nav_pages %}
                <li class="nav-item">
                    <a class="nav-link text-body{% if page.url contains p.url %} text-decoration-underline active{% endif %}" {% if page.url == p.url %}aria-current="page"{% endif %} href="{{ p.url | relative_url }}">{% if p.nav == true %}{{ p.title }}{% else %}{{ p.nav }}{% endif %}</a>
                </li>
                {% endfor %}
            </ul>
        </p>
        <p class="mt-5 ms-4 "><small><a href="{{ site.source-code }}/blob/main/{% if page.collection %}content/{% endif %}{{ page.path }}" target="_blank" rel="noopener" class="text-dark">Edit this page on GitHub</a></small></p>
        <p class="mt-5 mb-3 text-center"><small>Support for this project provided by the <a href="{{ site.source-code }}/blob/main/{% if page.collection %}content/{% endif %}{{ page.path }}" target="_blank" rel="noopener" class="text-dark text-decoration-underline">Institute of Museum and Library Services</a> and the <a href="{{ site.source-code }}/blob/main/{% if page.collection %}content/{% endif %}{{ page.path }}" target="_blank" rel="noopener" class="text-dark text-decoration-underline">University of Idaho Library</a>.</small></p>
    </div>
    
</footer>{% endunless %}