{% comment %}

    Bootstrap Card, https://getbootstrap.com/docs/5.1/components/card/

    e.g. --> {% include card.html text="Some interesting text" header="Example card" %}
    
    Options:
    - "text" = main card text, can use markdown formatting. Use a Liquid capture to add more complex content.
    - "header" = card header text (in bar above card content)
    - "title" = card title text inside card content area
    - "img" = give filename of image in your "images" folder, will create a card cap image
    - "alt" = alt text for image
    - "width" = will use responsive sizing to set the % size on desktop (will be 100% on mobile), choose from "25", "50", "75", or "100"
    - "centered" = give "true" to add mx-auto class on the card to center it

{%- endcomment -%}
<div class="card mb-3{% if include.width %} feature-w-{{ include.width }}{% endif %}{% if include.centered %} mx-auto{% endif %}">
{% if include.img %}<img class="card-img-top" src="{{ '/images/' | append: include.img | relative_url }}" alt="{{ include.alt | default: 'Card image' }}">{% endif %}
{% if include.header %}<div class="h4 card-header">{{ include.header }}</div>{% endif %}
<div class="card-body">
{% if include.title %}<h5 class="card-title">{{ include.title }}</h5>{% endif %}
<div class="card-text">
{{ include.text | markdownify }}
</div>
</div>
</div>
