/* add your scss tweaks here */
#site-header {
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.nav-link {
    img { max-height: 45px; }
}
.section-heading {
    img { max-height: 80px; }
}
.content-narrow {
    max-width: 740px;
}

// customize nav 
.navbar-light .navbar-toggler-icon {
    //background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(11, 94, 215)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-nav .nav-link {
    //color: $link-color;
    &.active { text-decoration: underline; }
}

.list-img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

blockquote{
    width:90%;
    font-style:italic;
    color: #555555;
    padding:1em 2em;
    margin: 0 1em 1.2em;
    border-left:2px solid #359B73 ;
    position: relative;
    background:#f5f5f5;
  }

  blockquote span{
    display:block;
    color:#4c4a4a;
    font-weight: bold;
    font-size:smaller;
    font-style: normal;
    text-align: right;
    margin-top:1em;
  }

  .lead{
      font-weight: 600;
  }