/* 
    Template styles 
    see assets/css/custom.scss for variables
*/

/* skip nav for accessibility, based on https://webaim.org/techniques/skipnav/ */
#skip-to-content a {
	padding:6px;
	position: absolute;
	top:-200px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:#BF1722;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}
#skip-to-content a:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

/* change default text colors */
body {
    @if variable-exists(base-font-family) { font-family: $base-font-family; }
    @if variable-exists(base-font-size) { font-size: $base-font-size; }
    @if variable-exists(text-color) { color: $text-color; }
    @if variable-exists(code-font-family) { code { font-family: $code-font-family; } }
}
@if variable-exists(link-color) {
    a {
        color: $link-color;
        @if variable-exists(text-color) {
            &:hover {
                color: $text-color; 
            }
        }
    }
}
/* remove link underline */ 
a { text-decoration: none; }

/* narrow container */ 
@if variable-exists(container-narrow) { 
    @media (min-width:992px){
        .container-narrow{max-width:$container-narrow}
    }
    @media (min-width:1200px){
        .container-narrow{max-width:$container-narrow}
    }
}

/* change container size for easier reading */
@if variable-exists(container-max) {
    @media (min-width:992px){
        .container{max-width:$container-max}
    }
    @media (min-width:1200px){
        .container{max-width:$container-max}
    }
}

/* feature include tweaks */
.feature-alert p:last-of-type { margin-bottom: 0; }
@media (min-width: 768px) {
    .feature-w-25 {
        width: 25%!important;
    }
    .feature-w-50 {
        width: 50%!important;
    }
    .feature-w-75 {
        width: 75%!important;
    }
    .feature-w-100 {
        width: 100%!important;
    }
}

/* scroll to top */
#scroll-to-top {
    display: none; 
    position: fixed; 
    bottom: 35px; 
    right: 20px; 
    z-index: 99;
    font-size: 40px; 
}

/* bootstrap icons tweaks */
.bi { 
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom; 
    overflow: hidden;
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
}
.icon-sprite {
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
}
