---
# front matter
---

// add color at page top
$top-border: #424242;

// Tweak body text and link color
$text-color: #111 !default;
$link-color: #0d6efd !default;
$base-font-size: 1.1rem;

// limit container size to make reading easier
$container-max: 950px;

// Import partials.
@import
  "template", "custom"
;
