---
title: Models Of and For
nav: Models
nav_order: 2
section: Models
section-color: success
foot: js/models.html
---

<p>A curated directory of projects using a static web approach <em>(Models Of)</em>, templates / frameworks for creating new projects <em>(Models For)</em>, and helpful utilities for Lib-Static development <em>(Tools)</em>.</p>

<div id="documentList">
    {% assign listDocs = site.models | where_exp: 'i','i.ignore != true' %}
    <p>View:
        <input type="radio" class="btn-check" name="filterRadio" id="filter-all" autocomplete="off" value="show-all" checked>
        <label class="btn btn-outline-primary m-1" for="filter-all">All</label>
        {% assign types = listDocs | map: 'type' | compact | uniq | sort %}
        {% for t in types %}
        <input type="radio" class="btn-check" name="filterRadio" id="filter-{{ t | slugify }}" autocomplete="off" value="{{ t }}">
        <label class="btn btn-outline-primary m-1" for="filter-{{ t | slugify }}">{{ t }}</label>
        {% endfor %}
        :
        {% assign raw_genres = listDocs | map: 'project_genre' | compact | join: ";" | split: ";" %}
        {% capture genres %}{% for r in raw_genres %}{{ r | strip }};{% endfor %}{% endcapture %}
        {% assign genres = genres | split: ";" | uniq | sort %}
        {% for g in genres %}
        <input type="radio" class="btn-check" name="filterRadio" id="filter-genre-{{ g | slugify }}" autocomplete="off" value="{{ g }}">
        <label class="btn btn-outline-secondary m-1" for="filter-genre-{{ g | slugify }}">{{ g }}</label>
        {% endfor %}
    </p>
    <div class="input-group mb-3">
        <input type="text" id="listSearch" class="form-control search" aria-label="Text input to filter list" placeholder="Filter...">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseListOptions" aria-expanded="false" aria-controls="collapseListOptions">options</button>
        <div class="collapse w-100" id="collapseListOptions">
            <div class="card card-body">
                <p>Sort by:</p>
                <p>
                    <input type="radio" class="btn-check" name="sort_list" id="list_shuffle" autocomplete="off" checked>
                    <label class="btn btn-outline-info m-1" for="list_shuffle">Random</label>
                    <input type="radio" class="btn-check sort" name="sort_list" id="list_title" autocomplete="off" data-sort="listTitle">
                    <label class="btn btn-outline-info m-1" for="list_title">Title</label>
                    <input type="radio" class="btn-check sort" name="sort_list" id="list_type" autocomplete="off" data-sort="listType">
                    <label class="btn btn-outline-info m-1" for="list_type">Type</label>
                    <input type="radio" class="btn-check sort" name="sort_list" id="list_genre" autocomplete="off" data-sort="listGenre">
                    <label class="btn btn-outline-info m-1" for="list_genre">Genre</label>
                </p>
            </div>
        </div>
    </div>
    <div class="mt-5 list row row-cols-1 row-cols-md-2"></div>
</div>
