---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row mb-4">
  <div class="col-md-8 ">

    <div class="mb-3">
      <div class="card-body">
        
        <p class="card-text h3">Lib-STATIC is a development methodology that leverages static-web technologies and metadata skills to create engaging web publications and applications.</p>

        <p  class="card-text h3 pt-4">Are you: </p>
<ul class="card-text h3" style="list-style: circle;">
<li>Tired of learning systems rather than skills?</li>
<li>Frustrated with over-bloated infrastructure?</li>
<li>Siloed by the tools you know and the tools you don't?</li>
</ul>

<p class="card-text h3 pt-4"> Try the Lib-STATIC approach and let's all rethink how we do web development and systems in the libraries.</p>
  
     
      </div>
    </div>
  
  
  </div>
  <div class="col-md-4 text-center pt-4">  



    {% include bootstrap/button.md link="/gallery.html" text="See What's Possible" color="outline-info my-2 btn-lg"%}

    {% include bootstrap/button.md link="/concepts.html" text="Learn the Concepts" color="outline-warning my-2 btn-lg"%}

    {% include bootstrap/button.md link="/paths/" text="Learn from Others" color="outline-success my-2 btn-lg"%}.

    {% include bootstrap/button.md link="/about.html" text="Know your Social Stack" color="outline-secondary mt-2 mb-4 btn-lg"%}

    {% include bootstrap/button.md link="/about.html" text="What is the Static Library?" color="outline-danger mt-2 mb-4 btn-lg"%}


    

  </div>
  <div class="col-md-12">



  </div>
</div>
{{content}}