---
layout: default
---
<div class="container content-narrow mt-3 mb-5">
    {% include jumbotron.html heading=page.title padding=1 bg="white border-dark" border=true %}
    <div class="my-4 text-end">
        {% if page.project_link %}<a href="{{ page.project_link }}" class="btn btn-primary m-2" target="_blank" rel="noopener">Project Site</a>{% endif %}
        {% if page.project_repository %}<a href="{{ page.project_repository }}" class="btn btn-secondary m-2" target="_blank" rel="noopener">Code Repository</a>{% endif %}
        {% if page.project_documentation %}<a href="{{ page.project_documentation }}" class="btn btn-success m-2" target="_blank" rel="noopener">Documentation</a>{% endif %}
    </div>

    {% if page.description %}<p class="fs-5">{{ page.description }}</p>{% endif %}

    <p>
        {% if page.type %}<a href="{{ '/models/' | relative_url }}#{{ page.type | strip | url_param_escape }}" class="btn btn-sm btn-outline-primary m-2">{{ page.type }}</a> : {% endif %}
        {% if page.project_genre %}{% assign genres = page.project_genre | split: ';' %}
        {% for g in genres %}<a href="{{ '/models/' | relative_url }}#{{ g | strip | url_param_escape }}" class="btn btn-sm btn-outline-secondary m-2">{{ g }}</a> {% endfor %}{% endif %}
    </p>

    {% if page.project_creators %}<p>People: {% include contributors.html people=page.project_creators %}</p>{% endif %}

    {% if page.image %}<p class="text-center"><a href="{{ page.project_link}}" target="_blank" rel="noopener"><img src="{{ page.image | relative_url }}" alt="{{ page.image_alt }}" class="img-fluid border rounded"></a></p>{% endif %}

    <h2>About {{ page.title }}</h2>
    
    {{ content }}

    <hr class="mt-5">

    <p class="ms-4 mb-4">{% if page.contributor %}record contributor: {% include contributors.html people=page.contributor %}{% endif %}{% if page.contributor and page.updated %}<br>{% endif %}{% if page.updated %}last update: {{ page.updated }}{% endif %}</p>

</div>