---
layout: default
---

<div class="container mt-2">
    <ul class="breadcrumb h6">
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | absolute_url }}">{{ site.title }}</a></li>
        <li class="breadcrumb-item text-secondary"><a class="text-dark" href="{{ '/browse.html' | absolute_url }}">Browse</a></li>
        <li id="bc-title" class="breadcrumb-item active">{{page.title}}</li>
    </ul>
    <div class="row mt-4">
        <div class="col-md-4 bg-light order-sm-2">
            
            {% if page.images %}
            {% for image in page.images %}
            <figure class="figure text-center mt-4 col-12">
                <img class="figure-img rounded img-thumbnail" src="{% if image.filelocation contains 'http' %}{{ image.filelocation }}{% else%}{{ image.filelocation | relative_url }}{% endif %}" alt="{{image.caption}}" style="max-height: 300px;" data-toggle="tooltip" data-placement="bottom" title="{{page.image1-caption}}">
                <figcaption class="figure-caption text-center">{{image.caption}}</figcaption>
            </figure>
            {% endfor %}
            {% endif %}
            {% if page.related-project %}<dt class="field mb-2">Related Projects:</dt>
            {% for p in page.related-project %}<dd class="field-value my-4"><a class="btn btn-outline-dark" href="{% if p.objectid %}{{ p.objectid | prepend: '/tools/' }} {% else %}{{p.url}}{% endif %}" target="_blank">{{p.title}}</a></dd>{% endfor %}
            {% endif %}
        </div>
        <div class="col-md-7 offset-md-1 order-sm-1">

            <h2 id="item-title" class="h1">{{page.title}}<sup><small><a class="btn btn-sm ml-2" href="{{ page.development-state | prepend: 'browse.html#' |relative_url }}">{{page.development-state}}</a></small></sup></h2>
            <p class="my-4"><a class="btn btn-outline-primary" href="{{page.objectlink}}" target="_blank">Main Site</a>
                {% if page.github-repo%}<a class="btn btn-outline-secondary ml-3" href="{{page.github-repo}}" target="_blank">GitHub Repository</a> {%endif%}
                {% if page.documentation%}<a class="btn btn-outline-info ml-3" href="{{page.documentation}}" target="_blank">Documentation</a>{%endif%}
            </p> 
            <p class="h3 mt-3">{{page.description}}</p>

            {% if page.category %}<dt class="field">Category:</dt>
            <dd>{% assign cats = page.category | split: ";" %}{% for cat in cats %}<a class="btn btn-sm btn-outline-primary {% unless forloop.first %}ml-2{% endunless %}" href="{{ cat | prepend: 'browse.html#' |relative_url }}">{{cat}}</a>{% endfor %}</dt>{% endif %}
                {% if page.technologies %}
            <dt class="field">Technologies:</dt>
            <dd class="field-value">{% assign techs = page.technologies | split: ";" %}{% for tech in techs %}<a class="btn btn-sm btn-outline-info {% unless forloop.first %}ml-2{% endunless %}" href="{{ tech | prepend: 'browse.html#' |relative_url }}">{{tech}}</a>{% endfor %}</dd>{% endif %}
            {% if page.generator-type %}<dt class="field">Generator Type:</dt>
            <dd class="field-value"><a class="btn btn-sm btn-outline-secondary" href="{{ page.generator-type | prepend: 'browse.html#' |relative_url }}">{{page.generator-type}}</a></dd>{% endif %}
            {% if page.software-requirements %}<dt class="field">Software Requirements:</dt>
            <dd class="field-value">{{page.software-requirements}}</dd>{% endif %}
            <dt class="field">Developer(s):</dt>
            {% for p in page.people%}<dd class="field-value"> 
            <dd class="field-value">
                <div class="row"><span class="col-8"><a href="{{ p.name | prepend: 'browse.html#' |relative_url }}">{{p.name}}</a></span>
                    {%if p.website%}<span class="col-1"><a href="https://github.com/{{p.name}}"><i class="fab fa-github text-secondary"></i></a></span>{% endif %}
                    {%if p.website%}<span class="col-1"><a href="{{p.website}}"><i class="fas fa-info-circle"></i></a></span>{% endif %}
                </div>
            </dd></dd>{% endfor %}
        </div>
    </div>
   
    <div class="row my-4">
        {% if page.code %}<dt class="field mt-4" id="code">Code Features:</dt>
        {% for c in page.code %}<div class="col-md-6">
            <div class="card mt-3">
                <div class="card-header">
                    <h5>{{c.title}}</h5>
                </div>
                <div class="card-body">
                    {% assign links = c.url | split: ";" %}
                    {% for link in links %}<a target="_blank" class="btn btn-sm btn-outline-success" href="{{ link}}">{{link | split: "/" | last}}</a><br />{% endfor %}
                    <p class="mt-3">{{c.description}}</p>
                </div>
            </div>
        </div>{% endfor %}</div>{% endif %}

</div>


</div>